terraform-provider-alks
*.tfstate
test.env
*.backup
release
glide.lock

# IntelliJ
.idea/
*.iml

# VSCode
.vscode
.DS_Store
.terraform/
gpg/

# ignore. For testing we don't want to store a specific provider.
.terraform.lock.hcl

# Ignore asdf tool files
.tool-versions
